/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
	height: 100%;
}
.wrapper {
	width: 1000px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height:auto;

}


/* Middle
-----------------------------------------------------------------------------*/
.content {
	padding:50px 0px 100px;
}


.editor-test {

    min-height: 300px;
    border-radius: 0px;
    background-color: #FFF;
    font-family: inherit;
    border-style: solid;
    border-width: 1px;
    border-color: #CCC;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-size: 0.77778rem;
    margin: 0px 0px 0.88889rem;
    padding: 0.44444rem;
    height: 2.05556rem;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.15s linear 0s;
    overflow-y: scroll;

}
#image_path {
    height: 46px;
}
#align_box {
    width: 115px;
    padding-left: 1px;
    padding-right: 1px;
}
.undo-redo {
    width: 129px;
    padding-left: 0px;
    padding-right: 0px;
}
.toolbar-one {
    height: 70px;
}
.view_preview_box {
    height: 46px;
    right: 0px;
    position: relative;
    width: 224px;
    padding-left: 0px;
}
.view_preview_box .button-group {

}
#format_box {
    width: 191px;padding: 0px;
}
#list_box {
    width: 111px;padding: 0px;
}
#header_box {
    width: 132px;padding: 0px;
}
.editor-test:focus {
    background: none repeat scroll 0% 0% #FAFAFA;
    border-color: #999;
    outline: medium none;
}
/* Footer
-----------------------------------------------------------------------------*/
.footer {
	width: 1000px;
	margin: -100px auto 0;
	height: 100px;
	background:black;
	position: relative;
}
